<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.angrysnail.sample.time">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.angrysnail.sample.AlarmManagerTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.angrysnail.sample.ChronometerActivity"
            android:label="TIME_ISSUE"></activity>
        <activity android:name="com.android.angrysnail.sample.TimerActivity"></activity>
    </application>
</manifest>
